html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

/*.footer {*/
    /*height: 60px;*/
    /*background-color: #f5f5f5;*/
    /*border-top: 1px solid #ddd;*/
    /*padding-top: 20px;*/
    /*text-transform: none;*/
/*}*/


/*/!* add sorting icons to gridview sort links *!/*/
/*a.asc:after, a.desc:after {*/
    /*position: relative;*/
    /*top: 1px;*/
    /*display: inline-block;*/
    /*font-family: 'Glyphicons Halflings';*/
    /*font-style: normal;*/
    /*font-weight: normal;*/
    /*line-height: 1;*/
    /*padding-left: 5px;*/
/*}*/

/*a.asc:after {*/
    /*content: /!*"\e113"*!/ "\e151";*/
/*}*/

/*a.desc:after {*/
    /*content: /!*"\e114"*!/ "\e152";*/
/*}*/

/*.sort-numerical a.asc:after {*/
    /*content: "\e153";*/
/*}*/

/*.sort-numerical a.desc:after {*/
    /*content: "\e154";*/
/*}*/

/*.sort-ordinal a.asc:after {*/
    /*content: "\e155";*/
/*}*/

/*.sort-ordinal a.desc:after {*/
    /*content: "\e156";*/
/*}*/

/*.grid-view th {*/
    /*white-space: nowrap;*/
/*}*/

/*.hint-block {*/
    /*display: block;*/
    /*margin-top: 5px;*/
    /*color: #999;*/
/*}*/

/*.error-summary {*/
    /*color: #a94442;*/
    /*background: #fdf7f7;*/
    /*border-left: 3px solid #eed3d7;*/
    /*padding: 10px 20px;*/
    /*margin: 0 0 15px 0;*/
/*}*/


#footer {
    background: #ccc;
    padding: 20px 0 !important;
}

.site-reg, .site-login {
    /*padding: 70px 0 0 0;*/
}

.content {
    background: #eee;
    min-height: 525px;
}

.container-wrapper {
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fff;
    -webkit-box-shadow: 2px 2px 5px #555;
    -moz-box-shadow: 2px 2px 5px #555;
    box-shadow: 2px 2px 5px #555;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.navbar-default {
    margin: 0;
}

.navbar-brand {
    padding-left: 0;
    font-size: 50px;
    text-transform: uppercase;
}

.record-container {

}

p.comments {
    display: inline;
}

p.form-caption {
    font-size: 20px;
    padding-bottom: 10px;
}

textarea {
    resize: vertical;
}

.bx-viewport {
    height: auto !important;
    margin-bottom: 7px;
}

.bx-wrapper {
    margin-bottom: 20px !important;
}

.content li {
    padding-left: 50px;
}

.comments-container ul p {
    display: inline;
}

.comments-link, .comments-link:hover {
    color: #333;
}

.pagination {
    padding-left: 250px;
}

#popular-records {
    margin-bottom: 50px;
}